
.solitude-color {
  background-color: #ebedf0;
}

.sulu-color {
  background-color: #c6e48b;
}

.mantis-color {
  background-color: #7bc96f;
}

.forest-color {
  background-color: #239a3b;
}

.crusoe-color {
  background-color: #196127;
}

.blue-color {
  background-color: #00e5ff;
}

.green-color {
  background-color: #00ff2a;
}

.yellow-color {
  background-color: #e1ff00;
}

.orange-color {
  background-color: #ffb200;
}

.red-color {
  background-color: #ff4800;
}

td {
  width: 30px;
  height: 30px;
}

table {
  border-spacing: 7px;
  margin-left: auto;
  margin-right: auto;
}

div#parent-container {
  text-align: center;
}

div#preview {
  height: 40px;
  width: 40px;
  border-radius: 10px;
  display: inline-block;
  margin: 5px;
  margin-bottom: -10px;
}
