
.solitude-color {
  background-color: #ebedf0;
}

.sulu-color {
  background-color: #c6e48b;
}

.mantis-color {
  background-color: #7bc96f;
}

.forest-color {
  background-color: #239a3b;
}

.crusoe-color {
  background-color: #196127;
}

td {
  width: 30px;
  height: 30px;
}

table {
  border-spacing: 7px;
}